.dialer-avatars {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.dialer-avatar-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialer-avatar-container:hover {
    cursor: pointer;
}